.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.AppHeader {
  text-decoration: none;
  font-size: 1.2em;
}

.container {
  display: grid;
  background-color: #333;
  padding: 1rem;
}

.landingInputBox {
  justify-content: center;
  width: 30%;
  margin: auto;
}

.input {
  background-color: lightgray;
  padding: 1rem;
  font-size: 1.3em;
}

.input label {
  margin-right: 1rem;
}

.input input {
  font-size: 1.2em;
}

.modeButton button {
  padding: 1rem;
  width: 50%;
  font-size: 1.2em;

}

.mainVideoPlayer {
  width: 100%;
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;

}

.streamThumbnail {
  box-shadow: black 0 0 0.5rem;
}

.participantVideoPlayer {
  width: 100%;
  height: 100%;
}
